h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
  font-weight: bold;
  line-height: 1.5em;
}

h1 {
  font-size: 1.5em;
  margin: 0.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.15em;
}

p {
  font-size: 1em;
  margin: 0.7em 0.5em;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.65em;
  color: #393d41;
  font-size: 1.2rem;
  text-align: center;
}

header {
  width: 100%;
  background-color: black;
  text-align: left;
  padding: 1em 1.5em;
}

#logo {
  width: 10%;
}

#title_box {
  margin: 0 auto;
  padding: 7em 15em;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main button {
  width: 150px;
  font-size: 60%;
  color: white;
  background-color: #f04c2f;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  padding: 1.3em;
}

main img {
  border-radius: 500px;
}

#img_box {
  box-sizing: border-box;
  display: inline-block;
  align-items: center;
  width: 20vw;
}

#central_box {
  box-sizing: border-box;
  display: inline-block;
  width:40vw;
  margin: 1em;
  text-align: left;
  padding: 3em;
}

#orange_box {
  background-color: #e22d0e;
  padding: 1.7em;
  color: white;
}

#orange_box h2 {
  color: white;
  padding-top: 1em;
}

#experience {
  margin-bottom: 2em;
  font-style: oblique;
}
#author {
  margin-bottom: 0;
  line-height: 0;
}

#ceo {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 0.6em;
}

aside {
  padding: 2em 1.5em;
}

aside img {
  width: 100%;
  padding-bottom: 1em;
}

.aside_box {
  width: 30%;
  display: inline-block;
  margin-bottom: 1.5em;
  border: 1px solid #dee1e3;
}

.aside_box p {
  padding: 0 0.5em;
  padding-bottom: 1.3em;
}

footer {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  text-align: center;
  background-color: #25a2c3;
  color: #c8e7f0;
  padding: 1em;
}

footer h2 {
  color: white;
  padding: 1em;
}

footer ul {
  margin: 0 auto;
  text-align: center;
  font-size: 0.75em;
  line-height: 1.5em;
}

footer a {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #c8e7f0;
}
